@import url("https://fonts.googleapis.com/css2?family=Oregano&display=swap");
:root {
  --primary: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
}

.firstHalf {
  font-family: sans-serif;
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  padding-bottom: 2em;
  font-family: "Oregano", cursive;
  background-color: var(--primary);
  box-shadow: 15px 15px 19px 15px rgba(0, 0, 0, 0.16);
}
.emojisPart {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  padding-top: 0.4rem;
  text-align: center;
  color: black;
  box-shadow: 15px 15px 19px 15px rgba(0, 0, 0, 0.16);
  font-family: "Oregano", cursive;
  background-color: var(--primary);
  border-radius: 0.5rem;
}
body {
  background-color: #d387ab;

  background-size: cover;
}

.heading {
  padding-top: 1rem;
  padding-left: 1rem;
  color: #171f32;
  text-align: left;
  font-size: 2rem;
  color: var(--secondary);
}
.inputBox {
  margin-bottom: 1rem;
  height: auto;
  width: auto;
  margin-top: 1rem;
  box-shadow: 15px 15px 19px 15px rgba(0, 0, 0, 0.16);
}
.meaning {
  color: black;
  font-size: 1.5rem;
}
